body{
    margin: 0px;
    padding: 0px;
}
.navbar{
    width: 100%;
    height: 50px;
    background-color: black;
    position: sticky;
    top: 0px;
    z-index: 99999;
}
.subpage{
    max-width: 100%;;
    height: 91.4vh;
    top: 50px;
    position: sticky;
}

/* REMOVE THESE  */

.subpage{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px red solid;
}

.textsample{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;   
    width: 100%;
    height: max-content;
}